{% load static %}
<html>
    <head>
        <title>MV Network Solutions</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href="https://fonts.googleapis.com/css?family=Montserrat" rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <link rel="shortcut icon" type="image/png" href="{% static 'bilder/favicon.ico' %}">

    </head>

	<body>
    <!-- Wrapper begin -->
    <div id="wrapper">
      <!-- Header begin -->
    		<div class="page-header">
		    {% if user.is_authenticated %}
			  <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
			  <a href="{% url 'post_draft_list' %}" class="top-menu"><span class="glyphicon glyphicon-edit"></span></a>
	          <p class="top-menu">Angemeldet als: {{ user.username }} <small>(<a href="{% url 'logout' %}">Log out</a>)</small></p>

		    {% else %}
		      <a href="{% url 'login' %}" class="top-menu"><span class="glyphicon glyphicon-lock"></span></a>
			{% endif %}

			<h1><a href="/">MV Network Solutions</a></h1>
			<h2>Willkommen auf mv-networks.net</h2>
    		</div>
      <!-- Header end -->
      	<div class="content">
      <!-- Content Rechts begin -->


        <div class="content rechts">
          <p>Webangebote:</p>
          <div class="panel eins">
          <a href="https://www.hs-wismar.de" target="_blank" rel="noopener noreferrer"><img width="170px" src="{% static 'bilder/hswismar.png' %}" alt="hswismar"  /></a>
          </div>
          <div class="panel zwei">
          <a href="https://www.djangoproject.com/" target="_blank" rel="noopener noreferrer"><img width="300px" src="{% static 'bilder/django.png' %}" alt="django"  /></a>
          </div>
          <div class="panel drei">
          <a href="https://djangogirls.org/" target="_blank" rel="noopener noreferrer"><img width="300px" src="{% static 'bilder/djangogirls.png' %}" alt="django"  /></a>
          </div>
        </div>

      <!-- Content Rechts end -->

      <!-- Content Mitte begin -->
    		<div class="content container">
        		<div class="row">
            			<div class="col-md-8">
            			{% block content %}
            			{% endblock %}
            			</div>
        		</div>
    		</div>
      <!-- Content Mitte end -->
      </div>


      <!-- Footer begin -->
        <div class="page-footer">
		   fdmlslfmsdlmfgsl
    		</div>
      <!-- Footer end -->

    </div>
    <!-- Wrapper end -->
	</body>

</html>
